// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #f7aa1a;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$primary: #143959;
$primary-light: #7AACBF;
$secondary: #8C0707;
$secondary-light: #D94436;
$tertiary: #D9CDB8;
