.index-content{
  margin-top: 16px;
}

.bottle-show{
  margin-top: 16px;
}

.bottle-show-presentation {
  display: flex;
  margin-top: 16px;
}

.bottle-show-presentation-image {
  img{
    height: 500px;
  }
}

.bottle-show-presentation-info-name {
  font-size: 48px;
  font-weight: bold;
}

.bottle-show-presentation-info-rate {
  width: 30px;
  height: 30px;
  bottom:0;
  vertical-align: middle;
  text-align: center;
}

.bottle-show-presentation-info-property {
  margin: 0;
}

.bottle-show-evolution {
  margin-top: 16px;
}

.bottle-show-evolution-details {
  display: flex;
}

.bottle-show-evolution-details-historic {
  a {
    color: $secondary;
  }
}

.bottle-show-evaluations {
  margin-top: 16px;
}

.bottle-show-evaluation {
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 8px;
}

.bottle-show-evaluation-rating-rate {
  width: 20px;
  height: 20px;
  bottom:0;
  vertical-align: middle;
  text-align: center;
}

.bottle-show-evaluations-newreview {
  margin: 16px 0px;
}

.bottle-show-evaluations-form-content {
  display: flex;
}

.bottle-show-evaluations-form-rate {
  width: 20px;
  height: 20px;
  bottom:0;
  vertical-align: middle;
  text-align: center;
  color: $secondary-light;
}

.bottle-show-evaluations-form-stars {
  margin: auto 0;
  width: 10%;
  vertical-align: middle;
}

.rating_rate {
  margin-left: 8px;
  margin-top: 8px;
}

.rating_comment {
  margin-left: 8px;
  margin-top: 8px;
  width: 70%;
}

.form-control {
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.form-control:focus {
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.form-select {
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.form-select:focus {
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.review-rating {
  cursor:    pointer;
  font-size: 2rem;
}
