.sells {
  margin-top: 16px;
  h1 {
    font-size: 48px;
    font-weight: bold;
    margin-top: 16px;
  }
}

.sells-average-price {
  font-size: 24px;
}

.sells-details {
  a {
    color: $secondary
  }
}
