<div class="home-content" data-controller='research'>
  <h1>Trouvez les meilleurs vins</h1>
  <%= render 'form_research', minPrice: @minPrice, maxPrice: @maxPrice %>
  <div class="index-cards">
    <%= render 'index_card', bottles: @bottles %>
  </div>
</div>
