<div class="show-card-bottle">
  <div class="show-card-bottle-image">
    <%= cl_image_tag @bottle.photo.key, height:300, crop: :fill %>
  </div>
  <div class="show-card-bottle-info">
    <%= @bottle.name %>
    <%= @bottle.property %>
    <%= @bottle.year %>
  </div>
</div>
