<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/ddmdozj39/image/upload/v1694436525/red_panda31_a_benner_for_a_website_selling_wine_bottles_the_col_fb23ee74-ef72-4376-8511-cdde81c7859b_m94w6e.png);">
  <div class="container">
    <h1>Trouvez les meilleurs vins recommandés par nos experts</h1>
    <p>Surveillez l'évolution des prix pour trouvez les meilleurs vins au meilleur prix</p>
    <%= link_to "Se connecter", new_user_session_path, class: 'btn btn-secondary' %>
  </div>
</div>
<div class="home-content">
  <h2>Trouvez les meilleurs vins</h2>
  <%= render 'bottles/form_research', minPrice: @minPrice, maxPrice: @maxPrice %>
  <div class="index-cards">
    <%= render 'bottles/index_card', bottles: @bottles %>
  </div>
</div>
