.index-cards {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
  justify-content: space-between
}

.index-card-bottle {
  flex: 0 0 31.333333%;
  max-width: 31.333333%;
  overflow: hidden;
  height: 300px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 8px;
  border-radius: 16px;
}

.index-card-bottle-image {
  img {
    height: 280px;
  }
}

.index-card-bottle-info {
  height: 300px;
  padding: 8px;
}

.index-card-bottle-info-name {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin: 16px 4px 8px 4px;
  height: 72px;
  vertical-align: middle;
  overflow: hidden;
}

.index-card-bottle-info-rate {
  width: 20px;
  height: 20px;
  bottom:0;
  vertical-align: middle;
  text-align: center;
}

.index-card-bottle-info-property {
  text-align: center;
  color: $primary;
  margin: 0;
}

.index-card-bottle-info-year {
  text-align: center;
  color: $primary;
  margin: 0;
}

.index-card-bottle-info-price {
  text-align: center;
  color: $secondary;
  margin: 16px 0px;
  font-size: 24px;
  font-weight: bold;
}
