.navbar {
  justify-content: space-between;
  background: #FEFAF2;
  z-index: 20;
  position: sticky;
  top: 0;
}

.navbar-nav {
  align-items: center;
}

.nav-item {
  margin-right: 16px;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 60px;
}

.navbar-brand {
  display: flex;
  align-items: center;
  p {
    margin: 0 0 0 16px;
    font-size: 32px;
    font-family: $headers-font;
    font-weight: bold;
  }
}
